#
#	This is an example command line interface (cli) configuration file.
#
#	This particular file illustrates the necessary options settings to
#	do a weather forecast model initialization run with WRF. 
#

num_threads			=	12
elevation_file			=	/home/nwagenbrenner/nightly_wrf/output/frye.tif
initialization_method		=	wxModelInitialization
time_zone			=	auto-detect
forecast_filename		=	/home/nwagenbrenner/nightly_wrf/output/wrfout.nc
output_wind_height		=	10.0
units_output_wind_height	=	m
vegetation			=	grass
momentum_flag                   =       false
diurnal_winds                   =       true
mesh_choice			=	coarse
write_goog_output		=	true
write_wx_model_goog_output	=	true
write_shapefile_output          =       true
#goog_out_resolution             =       500
#units_goog_out_resolution       =       m
output_path                     =       /home/nwagenbrenner/nightly_wrf/output/ninjaout
